
/* FOOTER */
footer {
    background-image: 
        linear-gradient( #06082170, #06082170),
        url("../../assets/images/background_footer.png");
    background-size: cover;
    color: var(--branco);
}
.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.span_dicas {
    width: 100%;
    max-width: 860px;
    height: 300px;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #FFFFFF;
    box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 60px;
    top: -35px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.span_dicas img {
    position: absolute;
    top: -100px;
    left: 70px;
    width: 40%;
    max-width: 300px;
    /* width: 300px; */
}

.span_dicas_texto {
    width: 52%;
    font-family: var(--font2);
    font-size: 24px;
    padding-right: 40px;
}

.span_dicas_texto p {
    margin-bottom: 30px;
}

#botao_dicas {
    padding: 10px 50px;
    color: var(--azul);
    background-color: var(--branco);
}

.rodape>p {
    font-family: var(--font2);
    margin-bottom: 10px;
}

.rodape_conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.rodape_conteudo h2 {
    font-size: 24px;
}

.rodape_conteudo>img {
    width: 40%;
    max-width: 400px;
    min-width: 250px;
}

.rodape_conteudo_paginas_footer2  ul li {
    font-family: var(--font2);
    font-size: 18px;
    text-decoration: none;
    
}

.rodape_conteudo_contatos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.rodape_conteudo_contatos img {
    width: 45px;
    margin: 10px;
}

.rodape_conteudo_contatos>a {
    font-family: var(--font2);
    font-size: 18px;
    text-decoration: none;
    color: var(--branco);
}





/* MEDIAS */
@media screen and (max-width: 1366px) {
    .conexao {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 768px) {
    /* HEADER */
    .menu_barras {
        display: initial;
    }

    .header_logo{
        /* margin-left: 55px; */
    }

    .menu_links {
        /* display: none; */
        position: absolute;
        left: -300px;
        overflow-x: hidden;
        top: 70px;
        flex-direction: column;
        border: 1px solid rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
        width: auto;
        z-index: 1;
        border-radius: 10%;
        padding: 10px;

        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .menu_links * {
        margin: 10px 100px 10px 10px;
    }

    header nav {
        /* justify-content: flex-end; */
        width: auto;
    }

    .header_botao_login{
        display: none;
    }

    .header_icone_login {
        display: flex;
    }

    header nav svg {
        width: 35px;
        fill: var(--branco);
    }

    /* BANNER */
    .banner_conteudo{
        font-size: 14px;
        max-width: 500px;
    }

    .banner_slogan_l2{
        margin: 30px;
    }

    .banner_botoes{
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }

    .banner_botoes a{
        align-self: center;
    }


    .span_dicas img,
    .para_devs img,
    .clientes_conteudo img{
        display: none;
    }

    .clientes_texto,
    .devs_texto{
        text-align: center;
    }

    .para_devs{
        padding: 0;
    }

    main ul {
        text-align: initial;
    }

    /* SERVICOS */
    .servicos_cards{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 100%;
    }

    .card2{
        margin-top: 100px;
    }

    /* FOOTER */
    .span_dicas_texto{
        width: 90%;
        text-align: center;
    }

    .rodape_conteudo{
        flex-direction: column;
        align-items: center;
    }

    .rodape_conteudo_contatos{
        align-items: center;
        margin: 50px 0;
    }

    .rodape_conteudo>img{
        order: -1;
    }

    .rodape_conteudo_paginas{
        order: 1;
    }
}

@media screen and (max-width: 500px) {
    .banner_conteudo {
        font-size: 13px;
    }
    
    .span_cliente{
        font-size: 18px;
    }

    h2{
        font-size: 22px;
    }

    main ul {
        margin: 40px 0;
    }

    main ul li {
        font-size: 17px;
    }

    .botao {
        font-size: 16px;
    }
    
    .clientes_botao_cli{
        padding: 12px 40px;   
    }
    
    .clientes_botao_devs{
        padding: 9px 40px;   
    }

    .span_dicas_texto {
        font-size: 18px;
    }


}